spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ridepulse
    username: ridepulse_user
    password: strongpassword

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
